/* TODO:
    make better mobile site
    switch from px to rem
 */
/* stylelint-disable comment-empty-line-before */
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.site-content {
  flex: 1; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
  position: relative; }

.body-text {
  max-width: 78%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center; }
  @media screen and (min-width: 750px) {
    .body-text {
      max-width: 640px; } }
  @media screen and (max-width: 568px) {
    .body-text {
      max-width: 450px; } }

.text-row {
  display: flex;
  justify-content: space-between; }
  .text-row p {
    margin: 0; }

body {
  background: #f4efef; }

h2 {
  font: 700 40px "Montserrat", sans-serif;
  margin-top: 0;
  padding-top: 40px;
  margin-bottom: 20px;
  text-align: center; }
  @media screen and (min-width: 750px) {
    h2 {
      font-size: 48px;
      padding-top: 60px;
      margin-bottom: 40px; } }

a,
p,
li {
  font: 18px/150% "Domine", serif;
  color: #404040;
  /* display: block; */ }
  @media screen and (min-width: 750px) {
    a,
    p,
    li {
      font-size: 20px; } }

ul {
  padding: 0;
  list-style-type: none; }

li {
  display: inline-block; }

img {
  display: block;
  width: 100%;
  height: 100%; }

section p:last-child {
  margin-bottom: 0; }

header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  transition: height 0.2s;
  text-align: center;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/heroic.png") no-repeat center center;
  background-size: cover;
  justify-content: space-between;
  align-items: center; }
  header::before {
    display: block;
    content: '';
    flex: 2.5 0 0; }
  header h1 {
    font: 700 48px "Montserrat", sans-serif;
    margin: 0; }
  header p {
    line-height: 100%;
    margin: 0;
    margin-bottom: 20px;
    color: white;
    flex: 0 0 auto; }
  @media screen and (min-width: 568px) {
    header h1 {
      font-size: 96px; } }
  @media screen and (max-width: 750px) and (orientation: landscape) {
    header h1 {
      font-size: 48px; } }
  header .title {
    flex: 1 0 auto;
    margin: 0 40px; }
    header .title p {
      font: bold 30px "Domine", serif;
      padding: 0;
      margin: 20px 0 0; }
  header .box {
    width: 60px;
    height: 60px;
    flex: 1 0 auto; }
  header .scroll-down {
    font-size: 38px;
    line-height: 100%;
    display: block;
    width: 60px;
    height: 60px;
    transition: all 0.2s;
    animation: pulse 1.6s ease-in-out infinite;
    text-align: center;
    text-decoration: none;
    color: #f4efef;
    border: 3px solid #f4efef;
    border-radius: 50%; }
    header .scroll-down.hidden {
      visibility: hidden; }
    header .scroll-down:hover, header .scroll-down:focus {
      transform: scale(1.05);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

@keyframes pulse {
  0%,
  100% {
    padding-top: 0; }
  50% {
    padding-top: 15px; } }

.resume-body {
  padding: 0 20px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .resume-body::after {
    clear: both;
    content: "";
    display: block; }
  .resume-body .resume-half {
    margin-bottom: 20px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .resume-body .resume-half:last-child {
      margin-right: 0; }
    @media screen and (min-width: 568px) {
      .resume-body .resume-half {
        margin-bottom: 0;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .resume-body .resume-half:last-child {
          margin-right: 0; } }
    .resume-body .resume-half .resume-section {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      margin-bottom: 20px;
      padding: 20px; }
      .resume-body .resume-half .resume-section .date,
      .resume-body .resume-half .resume-section .location,
      .resume-body .resume-half .resume-section .info {
        color: #817e7e;
        flex-shrink: 0; }
      .resume-body .resume-half .resume-section .info {
        font-style: italic; }
      .resume-body .resume-half .resume-section .location {
        font-size: 16px;
        text-transform: uppercase; }
    .resume-body .resume-half .resume-section:last-child {
      margin-bottom: 0; }
  .resume-body .resume-half:last-child {
    margin-bottom: 0; }

.resume-section,
.gallery-page,
.desc-quick {
  background: white; }
  .resume-section h2,
  .gallery-page h2,
  .desc-quick h2 {
    margin-bottom: 40px; }
  .resume-section h3,
  .gallery-page h3,
  .desc-quick h3 {
    font: 22px/120% "Lato", sans-serif;
    margin: 0;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 3px solid #f4efef; }
  .resume-section p,
  .resume-section li,
  .resume-section a,
  .gallery-page p,
  .gallery-page li,
  .gallery-page a,
  .desc-quick p,
  .desc-quick li,
  .desc-quick a {
    font: 18px/150% "Lato", sans-serif;
    margin: 0; }
  .resume-section ul,
  .gallery-page ul,
  .desc-quick ul {
    margin: 0;
    padding: 0; }
    .resume-section ul li,
    .gallery-page ul li,
    .desc-quick ul li {
      padding-bottom: 6px; }
    .resume-section ul li:last-child,
    .gallery-page ul li:last-child,
    .desc-quick ul li:last-child {
      padding-bottom: 0; }
  .resume-section hr,
  .gallery-page hr,
  .desc-quick hr {
    height: 2px;
    border: none;
    background-color: #f4efef; }
  @media screen and (min-width: 750px) {
    .resume-section h3,
    .gallery-page h3,
    .desc-quick h3 {
      font-size: 24px; }
    .resume-section p,
    .resume-section li,
    .resume-section a,
    .gallery-page p,
    .gallery-page li,
    .gallery-page a,
    .desc-quick p,
    .desc-quick li,
    .desc-quick a {
      font-size: 20px; } }

.gallery-items {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .gallery-items::after {
    clear: both;
    content: "";
    display: block; }

#gallery {
  position: relative;
  max-width: 1000px;
  margin: 0 auto; }

.services {
  display: flex;
  margin-bottom: 60px;
  justify-content: center; }

footer {
  display: flex;
  height: 100px;
  background-color: #1c1818;
  justify-content: center;
  align-items: center; }
  footer p {
    font: 16px "Domine", serif;
    color: white;
    text-align: center; }

nav {
  display: flex;
  height: 40px;
  margin-bottom: 20px;
  background: #1c1818;
  align-items: center; }
  nav a {
    font-family: "Montserrat";
    font-size: 16px;
    margin-left: 10px;
    color: white; }
    nav a .fa {
      padding-right: 5px; }

.gallery-page {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto; }
  .gallery-page::after {
    clear: both;
    content: "";
    display: block; }
  .gallery-page img {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .gallery-page img:last-child {
      margin-right: 0; }
    @media screen and (min-width: 750px) {
      .gallery-page img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        .gallery-page img:last-child {
          margin-right: 0; } }

.gallery-desc {
  padding: 20px;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .gallery-desc:last-child {
    margin-right: 0; }
  @media screen and (min-width: 750px) {
    .gallery-desc {
      padding-left: 0;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .gallery-desc:last-child {
        margin-right: 0; } }

/* Elements? */
.item {
  z-index: 1;
  transition: transform 0.1s, z-index 0.1s, box-shadow 0.1s, visibility 0s 0.4s, opacity 0.2s 0.4s;
  transition-timing-function: ease-out;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 568px) {
    .item {
      margin-bottom: 2.3567%;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .item:last-child {
        margin-right: 0; }
      .item:nth-child(2n) {
        margin-right: 0; }
      .item:nth-child(2n+1) {
        clear: left; } }
  .item.selected {
    visibility: hidden;
    transition: visibility 0s; }
  .item.hidden {
    visibility: hidden;
    transition: visibility 0s 0.2s, opacity 0.2s;
    transition-timing-function: ease;
    opacity: 0; }
  .item:hover, .item:focus {
    z-index: 10;
    transition-timing-function: ease-in;
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }

.quick-view,
.item {
  background-size: cover; }

.apk {
  background-image: url("../img/apk.png"); }

.wr {
  background-image: url("../img/weird-robot-thumb.png"); }

.ec {
  background-image: url("../img/snake.png"); }

.tnk {
  background-image: url("../img/tnk.png"); }

.quick-view {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: relative;
  visibility: hidden;
  width: 100%;
  width: 0;
  transition: visibility 0s 0.45s; }
  .quick-view.is-visible {
    visibility: visible;
    transition: visibility 0s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
  .quick-view img {
    position: relative;
    z-index: 10;
    opacity: 0;
    object-fit: cover; }

.desc-quick {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 20px;
  transition: visibility 0s 0.2s, transform 0.2s, height 0s 0.2s, width 0s 0.2s, left 0s 0.2s;
  transform: translate3d(-100%, 0, 0);
  box-shadow: none; }
  .desc-quick.wide {
    transform: translate3d(0, -100%, 0); }
  .desc-quick.is-visible {
    visibility: visible;
    transition: visibility 0s 0.2s, transform 0.2s 0.2s, height 0s, width 0s, left 0s;
    transform: translate3d(0, 0, 0); }

.close {
  padding: 0;
  text-decoration: none;
  color: #817e7e;
  border: none;
  background: none;
  flex-shrink: 0; }
  .close:hover {
    color: #676565; }
  .close:active {
    color: #4d4c4c; }

.icon {
  font-size: 24px;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 11px;
  transition-duration: 0.1s;
  text-align: center;
  text-decoration: none;
  color: #f4efef;
  border-radius: 50%;
  background: #1c1818; }
  .icon:hover {
    transform: scale(1.05);
    color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); }
  .icon:active {
    transition-duration: 0;
    color: #e6e6e6;
    background: black;
    box-shadow: none; }
